/* root and setup codes */
:root{

}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #ffffff;
    overflow: hidden;
    text-rendering: optimizeLegibility;
}

/* reusable code */
section{

}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

/* clear */
.clearfix{
    content: "";
    display: table;
    clear: both;
}

/* footer */


